<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alvis.exam.repository.QuestionKnowledgeMapper">
  <resultMap id="BaseResultMap" type="com.alvis.exam.domain.QuestionKnowledge">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="question_id" jdbcType="INTEGER" property="questionId" />
    <result column="knowledge_id " jdbcType="INTEGER" property="knowledgeId" />
    <result column="primaryed" jdbcType="BIT" property="primaryed" />
  </resultMap>
  <sql id="Base_Column_List">
    id, question_id, "knowledge_id ", primaryed
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_question_knowledge
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_question_knowledge
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.alvis.exam.domain.QuestionKnowledge" useGeneratedKeys="true" keyProperty="id">
    insert into t_question_knowledge (id, question_id, "knowledge_id ",
      primaryed)
    values (#{id,jdbcType=INTEGER}, #{questionId,jdbcType=INTEGER}, #{knowledgeId,jdbcType=INTEGER},
      #{primaryed,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.alvis.exam.domain.QuestionKnowledge" useGeneratedKeys="true" keyProperty="id">
    insert into t_question_knowledge
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="questionId != null">
        question_id,
      </if>
      <if test="knowledgeId != null">
        "knowledge_id ",
      </if>
      <if test="primaryed != null">
        primaryed,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="questionId != null">
        #{questionId,jdbcType=INTEGER},
      </if>
      <if test="knowledgeId != null">
        #{knowledgeId,jdbcType=INTEGER},
      </if>
      <if test="primaryed != null">
        #{primaryed,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.alvis.exam.domain.QuestionKnowledge">
    update t_question_knowledge
    <set>
      <if test="questionId != null">
        question_id = #{questionId,jdbcType=INTEGER},
      </if>
      <if test="knowledgeId != null">
        "knowledge_id " = #{knowledgeId,jdbcType=INTEGER},
      </if>
      <if test="primaryed != null">
        primaryed = #{primaryed,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.alvis.exam.domain.QuestionKnowledge">
    update t_question_knowledge
    set question_id = #{questionId,jdbcType=INTEGER},
      "knowledge_id " = #{knowledgeId,jdbcType=INTEGER},
      primaryed = #{primaryed,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>
